/*=============================================
=            SideMenu            =
=============================================*/


.off-canvas {
  > .layer-overlay {
    width: 0;
    height: 0;
    z-index: 500; 
    position: fixed;
    top: 0;
    left: 0;
    transition: background 0.5s ease, width 0s ease 0.5s, height 0s ease 0.5s;
  }
  > input[type="checkbox"] {
    display: none;
    &:checked ~ .layer-overlay {
      background: rgba(0, 0, 0, 0.60);
      width: 100%;
      height: 100%;
      transition: background 0.5s ease;
    }
  }
}

.layer-overlay {
  .side {
    background: #ededed;
   // box-shadow: 0px 0 10px rgba(0, 0, 0, 0.56);
    width: 270px;
    height: 100%;
    position: fixed;

    transition: all 0.5s ease;  
  }
  .side-right{
    right: -270px;    
    
  }
  .side-left{
    left: -270px;      
  }
} 
.off-canvas > #toggle-side-right:checked  ~ .layer-overlay  > .side-right {
    right: 0;
    box-shadow: 0px 0 10px rgba(0, 0, 0, 0.56);
}
.off-canvas > #toggle-side-left:checked  ~ .layer-overlay  > .side-left {
    left: 0;
    box-shadow: 0px 0 10px rgba(0, 0, 0, 0.56);
}
.side-content {
  padding-top: 80px;
}

.nav-stacked{
   border-bottom: 1px solid #d0d0d0;
}

.nav-stacked--item{
  border-top: 1px solid #d0d0d0;
  span{
    color: #8e8e8e;
    font-size: 24px;
    margin-right: 10px;
    vertical-align: sub;
  }
  a{
      color: #3f3f3f;
  }  
}

/*=====  End of SideMenu  ======*/