/*=============================================
=            switch toggle            =
=============================================*/
.btn-switch{
    color:#9d9c9c;
    background: none;
    border: 0;   
    padding: 0;
    >.fa{
      font-size: 30px;
    }
    &:focus,&:active,&.active{
      color: #73b145;
      outline: 0 !important;
      box-shadow:none;
  }   
}

.switch {
  position: relative;
  display: inline-block;
  width: 80px;
  height: 34px;
  vertical-align: middle;
  margin: 0 16px;
  > input{
    display: none;
    &:checked + .slider{
    //   background-color: #73b145;
       &:before{
         transform: translateX(46px);
       }
    }
  }

  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #e6e6e6;
    transition: .4s;
    border-radius: 34px;
    &:before{
      position: absolute;
      content: "";
      height: 26px;
      width: 26px;
      left: 4px;
      bottom: 4px;
      background-color: white;    
      border-radius: 50%;
      transition: .4s;
    }
  }
}

/*=====  End of switch button  ======*/