
/**
 *
 * THIS STYLESSHEET WAS MADE USING BEM METODOLOGY http://getbem.com/ 
 *
 */

$icon-font-path: '../fonts/';
// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower


/* Variables */

$bg-body:#ddd;
$container-bg-color:#fff;
$container-max-size:730px;
$container-min-size:320px;

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}


body { 
  background:$bg-body;
}

.mobile-container{
  background: $container-bg-color;
  padding: 70px 0 10px;
  margin:0 auto;
  min-width: $container-min-size;
  min-height: 100vh;
}


/*=============================================
=            NavBar Red Color            =
=============================================*/

.navbar{
 // min-width: $container-min-size;
  min-width: $container-min-size;
  text-align:  center;
  border: 0;
  &--colorred{
    background: linear-gradient( to bottom, #ff2a00, #ca2e0f);   
    box-shadow:0px 2px 8px rgba(0, 0, 0, 0.28);
  }
}


/*=====  End of NavBar Red Color  ======*/


.logo{
    width: 130px;
    padding-top: 14px;
    display: inline-block;
}


/*=============================================
=            Buttons of Navbar            =
=============================================*/

.btn-sides-navbar{
    min-height: 50px;
    line-height: 50px;
    border-radius: 0;
    margin: 0;
    font-size: 20px;
    width: 50px;
    background: none;
    color: white;
    padding: 0;   
    cursor: pointer;
    &:hover,&:focus{
      color:white;
      outline: none;
    }
    &.pull-left{
       box-shadow: 2px 0px 9px rgba(0, 0, 0, 0.14);
    }
    &.pull-right{
       box-shadow: -2px 0px 9px rgba(0, 0, 0, 0.14);
    }
}


/*=====  End of Buttons of Navbar  ======*/





.paragraph{  
  &--important{
   color: #811601; 
   padding: 20px 0px;
  }  
  /* nomarginb means no margin bottom */   
  &--nomarginb{
    margin-bottom: 0;
  }
  &--small{
    font-size: 12px;
    font-style: italic;
  }
}

.title{
  margin-top: 0;
  /* nomarginb means no margin bottom */   
  &--nomarginb{
    margin-bottom: 3px;
  }
}

.subtitle{
    margin:40px 0 35px 0;    
}

.link{
  &--red{
     color:#e13000;
  } 
  &--underlined{
    text-decoration: underline;
  }
  &__icon{
    margin-right: 5px;
    font-size: 16px;
  }  
}

/*=============================================
=            Perfil Styles            =
=============================================*/
.perfil-atribs{
  list-style-type: none;
  padding: 0;
  &__item{
      font-size: 16px;
      padding: 4px 0;;
  }
}

.perfil-stats{
  font-size: 11px;
  &__number{
    font-size: 14px;
  }
  &__divider{
    font-size: 16px;
    color: #8f8f8f;
  }
}

.perfil-rating{
  font-style:italic; 
  font-size: 12px;
}

.perfil-headers{
  &__title{
    margin-bottom: 5px;
    margin-top: 3px;
  }
  &__subtitle{
    margin-top: 0;
  }
}

.media--spacebottom{
  margin-bottom: 20px;
}

.media-image{  
  &--nopadding{
    padding: 0;
    margin-right: 15px;
  }
 
  &__img{
    border: 2px solid #c5c5c5;
    margin: 0 auto;
  }
}

.media-image-edit{
  .media-object{
    opacity: 0.6;
  }
  .labelpic{
    color: white;
    background: rgba(0, 0, 0, 0.34);
    position: absolute;
    z-index: 100;
    bottom: 0;
    left: 2px;
    width: calc(100% - 4px);
    text-align: center;
    right: 2px;
    height: 24px;
    line-height: 24px;
    &:hover,&:focus{
      text-decoration: none;
    }
  }
}



/*=====  End of Perfil Styles  ======*/

/*=============================================
=            Styles for Rating with wheels icons            =
=============================================*/

.wheelicon{
    display: inline-block; 
    width: 20px;
    height: 20px;
    background-image: url(../images/spritewheels.png);
    background-size: cover;
    vertical-align: bottom;
     &--full{
      background-position:0 0;
    }
     &--mid{
      background-position:0 50%;
    }
     &--empty{
      background-position:0 99%;
    }
}

/*=====  End of Styles for Rating with wheels icons  ======*/




.progress{
  height: 10px;
  border-radius: 2px;
  margin-bottom: 5px;
}

.progress-label{
  font-size: 12px;
  font-style: italic;
}

.btn--noborder{
  border: 0;
  font-size: 18px;
  .fa-camera{
    font-size: 35px;
    margin-right: 3px;
    vertical-align: middle;
  }
}

.fa-camera--big{
  font-size: 20px;
}

.accordion-mobile{
  font-size: 12px;
  margin-top: 25px;
  .panel-heading{
    display: block;
    h4{
      font-size: 12px;
      line-height: 16px;
    }    
  }
}

.panel-title--big{
  font-size: 19px;
}

.media-heading{
  &--big{
      font-size: 15px;
      font-weight: bold;
  }
  &--nomarginb,&--marginb{
      margin-bottom: 15px; 
  }
}

.media-body--formatted{
  text-align: justify;
}

.panel{
  margin-bottom: 12px;
}

.panel-body--lesspadding{
  padding: 8px;
}
.panel-heading.clearfix{
  padding: 10px 8px;
}

.list-unstyled--big{
    font-size: 16px;
    margin: 13px 0;
    .fa{
      margin-right: 6px;
      color:#5cb85c;
    }
    li{
      padding: 2px 0;
    }
}

.inline-buttons{
  .col-xs-4{
    padding: 0;
  }
}


/*=============================================
=            Subscription Styles            =
=============================================*/

.alert{
  &__icon{
    font-size: 44px;
    margin-right: 5px;
    vertical-align: top;
  }
  &__text{
     display: inline-block;
     width: 80%;
     font-size: 17px;
  }
}

.plan{
  display: inline-block;
  vertical-align: top;
  h4{
    margin-top: 0;
    margin-bottom: 2px;
  }
  .paragraph--small{
    line-height: 15px;
    margin-bottom: 18px;
  }
}

.fa--marginl{
    margin-right: 3px;
    font-size: 17px;
}

/*=====  End of Subscription Styles  ======*/




/*=============================================
=            MEDIA QUERIES TO RESTRICT WITH            =
=============================================*/

@media (min-width: 768px) {
  .mobile-container{
    max-width: $container-max-size;
  }
  .navbar{
    min-width: $container-max-size;
    left: auto;
    right: auto;  
  }
}

/*=====  End of MEDIA QUERIES TO RESTRICT WITH  ======*/


@import "switch-toggle";
@import "sidenav";
